# Database
# For Docker: postgresql://postgres:floricore_dev_pwd@localhost:5432/floricore?schema=public
DATABASE_URL="postgresql://postgres:floricore_dev_pwd@localhost:5432/floricore?schema=public"

# Auth
JWT_SECRET="super_secret_flori_core_key"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="even_more_secret_flori_core_refresh_key"
JWT_REFRESH_EXPIRES_IN="7d"

# App
PORT=3001
NODE_ENV=development
